ul.nav {   
    margin: 0;
    padding: 0;
    margin-right: 2em;
    margin-top: 1em;
    font-size: 20px;
  }
  
  .nav a {
    color: black;
    text-decoration: none;
  }
  
  .nav a:hover {
    color: blue;
  }
  
  .selected {
    font-weight: bold;
  }
  
  .nav li {
    display: inline;
    list-style-type: none;
    padding: 5px;
  }
  
  header {
    background-color: grey;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: .5em;
    margin-top: 1em ;
  }

  
  body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-family: Helvetica, sans-serif;
  }
  
  main {
    width: 70%;
    background-color: white;
    padding: 1em;
    border: 1px solid black;
    margin: 30px auto 0 auto;
  }
  
  main h1 {
    color: lightcoral;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  img {
    float: left;
    margin-right: 20px;
  }
  